* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:"Montserrat", "Avenir";
}
body {
  background-color: rgba(0, 0, 0, 0.911);
}
.play-again {
  position: absolute;
  top: 120%;
  left: 20%;
  border: none;
  padding: 1em 2em;
  border-radius: 1em;
  outline: none;
  background-color: #4682b4;
  color: #fff;
}
.play-again:active {
  background-color: #4da7f1;
}
.game-over {
  position: absolute;
  font-size: 6em;
  color: red;
  top: 40%;
  left: 10%;
}
header {
  background-color: #4682b4;
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-size: 2em;
  line-height: 1.3em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.current-color {
  font-size: 2.5em;
  line-height: 15vh;
}
.game-info {
  background-color: white;
  color: #4682b4;
  display: flex;
  justify-content: space-around;
  width: 100%;
  line-height: 5vh;
  font-size: 0.4em;
  border-bottom: 1px solid rgb(69, 130, 179);
}
.game-info p:nth-child(1){
  padding: 0 0.4vw;
}
.game-info p:nth-child(1):hover {
  cursor: pointer;
  background-color: #4682b4;
  color:white;
}
.easy, .hard{
  padding: 1.3vh 0.4vw;
}
.easy:hover, .hard:hover {
  cursor: pointer;
  background-color: #4682b4;
  color:white;
}
.active{
  background-color: #4682b4;
  padding: 1.3vh;
  color: white;
}
.squares {
  display: flex;
  flex-flow: row wrap;
  max-width: 40%;
  justify-content: center;
  margin: 3vh 25vw;
}
.square {
  width: 30%;
  background-color:none;
  padding-bottom:30%;
  margin:1.66%;
  border-radius:2.5em;
}
















.player-info {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  height: 5vh;
}


@media (max-width:900px){
  .squares {
    max-width: 70%;
    margin: 3vh 19vw;
  }
  footer {
    padding-bottom: 2vh !important;
  }
}

@media (max-width:600px){
  .current-color {
    font-size: 1.5em;
    line-height: 10vh;
  }
  header {
    font-size: 1.5em;
    line-height: 1em;
  }
  .game-info {
    width: 100%;
    line-height: 5vh;
    font-size: 0.7em;
  }
  .squares {
    max-width: 90%;
    margin: 13vh 12vw;
  }
}

@media (max-width:400px){
  .squares {
    max-width: 80%;
    margin: 3vh 10vw;
  }
  .square {
    width: 40%;
    padding-bottom:40%;
    margin: 3vh 2vw 0 3vh;
  }
  .game-info{
    width: 100%;
    line-height: 5vh;
    font-size: 0.5em;
  }
  .player-info {
    width: 100%;
    line-height: 5vh;
    font-size: 0.9em;
  }

}
@media (max-width:350px){
  .squares {
    max-width: 90%;
    margin: 3vh 10vw;
  }
  .square {
    width: 32%;
    padding-bottom:32%;
    margin: 3vh 2vw 0 3vh;
  }
}

.player-info {
  background-color: white;
  color: #4682b4;
}
footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4682b4;
  padding: 1.6vh;
  /* padding-bottom: 15vh !important; */
}